.category-paibtns {
  align-items: center;
  box-shadow: 0 4px 5px 0 rgba(2, 2, 2, 0.445);
  display: flex;
  justify-content: center;
  margin: 15px 0 10px 0;
  padding: 0 0 5px;
}

.category-paibtn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.allFood {
  height: 40px;
  width: 40px;
}

.all2 {
  height: 35px;
  width: 35px;
}

.favorite-cate {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.category-btn-favorite {
  align-items: center;
  background: linear-gradient(to bottom, #f50043 5%, #b71741 100%);
  background-color: #f50043;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(2, 2, 2, 0.774);
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 900;
  height: 65px;
  justify-content: center;
  margin: 5px 20px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #4a0416;
  width: 65px;
}

.favorite-details-container {
  background-color: aquamarine;
  display: flex;
}

.image-food-details {
  width: 200px;
}

.title-name {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.category-and-nacionality {
  color: #46484b;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tag {
  color: #46484b;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.date {
  color: #46484b;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.favorite-btns {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-favorite {
  all: unset;
  height: 40px;
  width: 40px;
}

.btn-share {
  all: unset;
}