:root {

  --color-red: #f50043;

  --color-yellow: #f5e618;

  --color-blue: #18bff5;

}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-pricipalDiv {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.footer-paibuttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.footer-buttons1 {
  background-color: #f5e618;
  border: none;
  border-right: 0.5px solid rgba(125, 116, 16, 0.422);
  padding: 5px;
  width: 100%;
}
.footer-buttons2 {
  background-color: #f5e618;
  border: none;
  border-left: 0.5px solid rgba(125, 116, 16, 0.422);
  padding: 5px;
  width: 100%;
}

.footer-img {
  width: 34px;
}
