:root {

  --color-red: #f50043;

  --color-yellow: #f5e618;

  --color-blue: #18bff5;

}


.HeaderPrincipalDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.HeaderSecondDiv {
  align-items: center;
  background-color: var(--color-red);
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 14px 0;
  width: 100%;
}

.HeaderButtonsDiv {
  align-items: center;
  display: flex;
}

.HeaderIcon {
  width: 50px;
}

.HeaderTitle {
  color: var(--color-yellow);
  font-family: 'Oleo Script', cursive;
  font-size: 1.5em;
  margin-left: 15px;
  max-width: 130px;
  text-align: center;
}

.HeaderButtonTitle {
  all: unset;
}

.searchBTNs {
  background: none;
  border: none;
  margin-right: 10px;
}

.profileBTNs {
  background: none;
  border: none;
}

/* .HeaderBTNs:hover, .HeaderButtonTitle:hover {
  cursor: pointer;
  scale: 1.2;
} */

.HeaderProfileBTN {
  height: 29px;
  margin-top: 5px;
  width: 29px;
}

.HeaderSearchBTN {
  height: 25px;
  margin-top: 5px;
  width: 25px;
}

.HeaderPageName {
  align-items: center;
  color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  font-family: Bebas Neue , cursive;
  font-size: 3em;
  letter-spacing: 4px;
  margin: 10px 0 2px 0;
  text-align: center;
  text-shadow: 2px 3px 0 rgb(222, 194, 58);
}
