.inProgress-btns {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 0;
  top: 5px;
  z-index: 2;
}

.buttons {
  all: unset;
  margin: 10px 12px 0 0;
}

.inProgress-img {
  box-shadow: 0 2px 10px 2px rgb(80, 80, 80);
  filter: opacity(0.7) blur(1px);
  margin-top: -52px;
  width: 100%;
  z-index: -2;
}

.inProgress-paiName {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inProgress-name {
  font-family: Bebas Neue , cursive;
  font-size: 10vw;
  max-width: 240px;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(146, 146, 146);
  top: 30vw;
}

.inProgress-paiBtnFinish {
  display: flex;
  justify-content: center;
}

.inProgress-btnFinish {
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color: #f0c911;
  border: 1px solid #e65f44;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgb(80, 80, 80);  
  color: #c92200;
  cursor: pointer;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 20px 0;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ded17c;
  width: 90%;
}

.inProgress-btnFinish:disabled {
  filter: opacity(0.7) grayscale(0.8);
}

.inProgress-paiInstruction {
  align-items: left;
  /* background: linear-gradient(-120deg, #ded17c 0%, #dcd395 100%); */
  background: linear-gradient(-120deg, #f0c911 0%, #dec85b 100%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(80, 80, 80);
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}

.inProgress-instructionTitle {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0 5px;
}

.inProgress-IMGinstruction {
  height: 30px;
  width: 30px;
}

.inProgress-IMGingredients {
  height: 40px;
  width: 40px;
}

.inProgress-imgpai1 {
  align-items: center;
  display: flex;
  margin: 0 12px;
  padding: 15px 0px 15px 0;
}

.inProgress-imgpai2 {
  align-items: center;
  display: flex;
  margin: 0 12px;
  padding: 5px 0px;
}

.inProgress-instruction {
  padding: 0 10px 20px 15px;
}

.linkCopied {
  background-color: #f3f3f3;
  border-radius: 5px;
  font-family: Arial , Helvetica , sans-serif;
  padding: 5px 10px;
  position: absolute;
  right: 15vh;
  text-align: center;
  top: 10px;
  width: 90px;
}

.NotaddedIngredient, .addedIngredient {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 1rem;
  padding: 0 10px 15px 15px;
}

.inprogress-input {
  margin: 8px 10px 0 5px;
}

.inProgress-checkbox {
  /* background: linear-gradient(-60deg, #e07c5d 0%, #f0a690 100%); */
  background: linear-gradient(-60deg, #c90000cc 0%, #df6850 100%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(80, 80, 80);
  font-family: Arial , Helvetica , sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 0 15px 0;
  width: 90%;
}

.inProgress-ingredient {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0 0 0 5px;
}
