.email-paititle {
  align-items: center;
  background: #f50043;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  width: 270px;
}

.email-title {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  margin: 15px 0;
  max-width: 80%;
  overflow: hidden;
}

.profile-ProfileBTN {
  height: 40px;
  margin: 10px 10px 0;
  width: 40px;
}

.button-profile {
  align-items: center;
  background: linear-gradient(to bottom, #f50043 5%, #c40135 100%);
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.361);
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  height: 55px;
  justify-content: flex-start;
  margin: 25px 0 0;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #4a0416;
  width: 270px;
}

.button-profile:hover {
  transform: scale(1.05);
}

.profile-paiBtns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-profile {
  height: 30px;
  margin-left: -15px;
  margin-right: 10px;
  width: 30px;
}
