.container-recommendation {
  border: 1px solid #ccc;
  padding: 0 10px 80px 10px;
}

.container-wrapper {
  border-radius: 5px;
  box-sizing: border-box;
  overflow-x: auto;
}

.details-wrapper {
  text-align: center;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  letter-spacing: 0.5px;
  margin: auto;
  width: 65%;
  overflow: auto;
}

.gallery img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 200px;
}

.gallery p {
  color: black;
  font-family: Arial , Helvetica , sans-serif;
  text-align: center;
  padding: 5px 0;
}

.details-link {
  align-items: center;
  box-shadow: 0 2px 5px rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  background: linear-gradient(-60deg, #c90000cc 0%, #df6850 100%); 
  border-radius: 10px;
  font-weight: 900;
  justify-content: center;
  text-decoration: none;
  margin: 0 10px;
}
